<h2>
    Kind habits: Edit board info for {{boardId}}
</h2>

<form action="/edit_board_info/{{boardId}}" method="post"> 
    <label for="name">Board name*:</label> 
    <input type="text" id="name" name="input_name" value="{{board.board_name}}" required>
    <br><br>
    <label for="description">Board description:</label>
    <input type="text" id="description" name="input_description" value="{{board.board_description}}">
    <br><br>
    <label for="color">Board color*:</label>
    <!-- https://coolors.co/f08080-ffa07a-f0e68c-03416b-052f5f -->
    <select id="color" name="input_color" required>
        <option value="{{board.board_color}}">(Keep the same color)</option>
        <option value="#3D3D3D">Onyx Gray</option>
        <option value="37323E">Raisin Black</option>
        <option value="04254E">Oxford Blue</option>
    </select>
    <br><br>
    <input type="submit"> 
</form>